/* Remove hover effect (box shadow) */
.card:hover {
    box-shadow: none;
  }
  
  /* Optional: Remove hover transform effect if applied */
  .card:hover {
    transform: none;
  }
 @media(max-width: 648px){
  .card{ 
       width: auto;
        margin-top: 1rem;
    } 
    .dashboard h5{
      font-size: 1rem;
    }
    .category,.editcategory h5{
      font-size: 1rem;
    }
    .dashboard,.category,.editcategory h4{
      font-size: .8rem;
    }
    .dashboard,.category,.editcategory .btn{
      font-size: .8rem;
      padding: 6px;
    }
    .category, .table{
      font-size: 12px;
    }
    .category,.product,.user .table .btn{
       font-size: 8px; 
    }
    .editcategory,.editprofile,.edituser .btn-warning{
       margin-top: .5rem;
    }
     .complete{
      font-size: 10px;
     }
 }
 .table-secondary {
  background: #f1f3f5 !important;
}

 .complete{
  min-width: 5rem !important;
  margin: 2px 0px;
 }

 .loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.loader {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  text-align: center;
}
@media(max-width: 448px){
  .mob{
    font-size: 8px !important;
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.spinner-wrapper {
  text-align: center;
  padding: 30px 0;
}

/* order  */
@media(max-width: 548px){
.order-view p{
  font-size: 12px;
}
.order-view h5{
  font-size: 16px;
}
.order-view .btn{
  font-size: 10px; 
  margin: 5px 0px;
  padding: 6px 6px;
}
.order-view .order-id{
  font-size: 10px;
}
}

/* REVIEW */
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-text {
  height: 12px;
  margin-bottom: 6px;
}

.skeleton-circle {
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* Return */
/* App.css or global CSS */
.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}

@media (max-width: 998px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
}
}
@media (max-width: 548px) {
 .review-box label{
   font-size: 12px;
 }
 .review-box h5{
   font-size: 16px;
 }
 .submit-review{
  font-size: 12px;
}
}
.review-box{
  width: 85%;
}
